!!!
%html
  %head
    %title FyberOffers
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    .jumbotron.text-center
      .container
        %h1 Fyber Challenge

    .container
      .row
        = yield
